#mega-menu{
position: fixed;
z-index:99;
width:100%;
    
}



.bor {
    margin-top: 1em;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    position: initial;
    border-right: 1px solid #612b8a;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(97, 43, 138);
    margin-right:-30px;
}

.hh {
    background-color: #46166C;
    overflow: auto;
    color: white;
    list-style-type: none;
    border-top: 1px solid #612b8a;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(97, 43, 138);
    width:100vw;
}

.fo {
    border-bottom: 1px solid #612b8a;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(97, 43, 138);
    margin-left: 0;
    margin-right: 0;
}

.span1 {
    text-align: center;
}

.coll {
    margin-left: 2%;
    display: block;
    list-style: none;
    padding-left: 20px;
    
}

.col2 {
    color: #fff;
    margin-left: 3%;
    display: block;
    margin-top: 0.8em;
    margin-left:4%
}

.icon {
    display: block;
    margin-left: 100px;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 1px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.bor ul {
    list-style: none;
}

.col2 ul {
    list-style: none;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    margin: 0 auto;
    border-top: 50px solid #46166c;
    position: inherit;
}

.arrow-down .btn {
    text-align: center;
    width: 0;
    color: #edba32;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    height: 0px;
    font-size: 15px;
    transform: translate(-475%, -375%);
    position: relative;
}

.arrow-down .btn .icon {
    text-align: center;
    width: 0;
    color: #edba32;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    height: 0px;
    font-size: 15px;
    transform: translate(-475%, -375%);
    position: relative;
}

.circle1 {
    width: 5px;
    height: 5px;
    position: relative;
    color: blue;
}

.icon1 {
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translate(-100%, -450%);
    width: 10px;
    height: 10px;
    display: block;
    color: #edba32;
}

.arrow-down .btn active {
    color: #edba32;
}

.arrow-down .btn .icon hover {
    color: #edba32;
}

.icon_new {
    display: block;
    margin: auto;
}

.test {
    line-height: 20px;
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.test a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.test img {
    display: block;
    margin: auto;
}

.positioner {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav-right {
    float: right;
    font-family: 'TradeGothicLTStd-BdCn20', Helvetica, Arial, sans-serif !important;
    padding-top: 30px;
}

.topnav-right a {
    display: inline-block;
    background: transparent;
    color: #ffffff;
    font-family: 'TradeGothicLTStd-BdCn20', Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 24px;
    padding: 6px 13px 0 13px
}


.headingList {
    font-family: 'TradeGothicLTStd-BdCn20', Helvetica, Arial, sans-serif;
    font-size: 16px;
    background: transparent;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
    padding: 0 0 17px;
    display: block;
    

}



.listSub {
    display: block;
    position: relative;
    padding-right: 22px;
    font-size: 14px;
    font-family: 'PublicSans', sans-serif !important;
    background: transparent;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-transform: none;
    -webkit-transition: color 0.25s ease;
    -moz-transition: color 0.25s ease;
    -ms-transition: color 0.25s ease;
    -o-transition: color 0.25s ease;
    transition: color 0.25s ease;
    line-height: 2.4rem;
}

.linkforlist {
    color: white;
}



.icon_new {
    display: block;
    margin: auto;
}

.test {
    line-height: 20px;
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-family: 'TradeGothicLTStd-BdCn20', Helvetica, Arial, sans-serif !important;
    font-size: 19px;
    line-height: 18px;
    background: transparent;
    width: 100%;
}

.test img {
    display: block;
    margin: auto;
}

.test>button {
    background-image: url("https://www.albany.edu/themes/albany_bootstrap_theme/images/menu-arrow.png");
    color: #eeb211;
    width: 160px;
    height: 48px;
    border: none;
    font-size:18px;
}

.test>button:focus {
    border: none;
    outline: none;
    color: white;
}




ul .listSub a:hover, ul .listSub a:focus {
    color:white;
   }

   
   .fa-facebook-f:hover{
    color:yellow;
  }